* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}


body {
   background: url(background_home2.png) no repeat;
 }




.navbar a {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #161111;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 20px;
}

.logo h3 {
  margin-left: 10px;
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}


.navbar a:hover {
  color: #e6941b;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-links a {
  display: block;
  padding: 30px 16px;
  color: #161111;
  text-decoration: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  transition: all ease-in-out 100ms;
}

.nav-links a:hover {
  background-color: #e6941b;
}

.nav-links .nav-cta-button {
  padding: 10px 18px;
  margin-left: 16px;
  border:#e6941b solid 2px;
  border-radius: 50px;
}

.nav-links .nav-cta-button:hover {
  background-color: #e6941b;
}

.hamburger {
  display: none;
  cursor: pointer;
  width: 34px;
}

.hamburger .bar {
  flex-basis: 100%;
  height: 4px;
  background-color: #161111;
  margin: 3px;
}
  
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(background_home2.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: #e6941b;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #e6941b;
  border-radius: 50%;
  font-size: 20px;
  color: #161111;
  text-decoration: none;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));

  margin: 30px 15px 30px 0;
}
.home-sci a:hover {
  background: #161111;
  color: #e6941b;
  box-shadow: 0 0 20px #161111;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #e6941b;
  border-radius: 40px;
  font-size: 16px;
  color: #161111;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #e6941b, 0 0 25px #161111;
}

.btn-box:hover {
  box-shadow: 0 0 5px #161111, 0 0 25px #e6941b, 0 0 50px #161111,
    0 0 100px #e6941b, 0 0 200px #161111;
}

.about {
  background: url(background_home2.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-img img {
  
  max-width: 400px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.about-text h2 {
  font-size: 50px;
}

.about-text h2 span {
  color: #e6941b;
}


.about-text p {
  font-size: 20px;
  color: #161111;
  line-height: 1.4;
  margin-bottom: 4rem;
}

#lessons{
  
  font-size: 50px;
  line-height: 1.4;
  background: url(background_home2.png) no-repeat;
  background-size: cover;
  background-position: center;
 }

 .lessons-text h2 {
  font-size: 60px;
}

.lessons-text h2 span {
  color: #e6941b;
}

.lessons-text p {
  font-size: 20px;
  color: #161111;
  line-height: 1.4;
  margin-bottom: 4rem;
}






.lessons-list {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.lessons-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #e6941b,
  1px 1px 40px #161111
}

.lessons-list div i {
  font-size: 50px;
  margin-bottom: 30px;

}

.lessons-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.lessons-list div a {
  text-decoration: none;
  color:#161111;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.read {
  display: inline-block;
  padding: 12px 28px;
  background: #e6941b;
  border-radius: 40px;
  font-size: 16px;
  color:#161111;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 25px #161111;
}

.read:hover {
  box-shadow: 0 0 5px #161111, 0 0 25px #e6941b, 0 0 50px #161111,
    0 0 100px #e6941b, 0 0 200px #161111;
}

.lessons-list div:hover{
  transform: translateY(-10px);
}


#songs{
  color:#161111;
  font-size: 20px;
  line-height: 1.4;
  background: url(background_home2.png) no-repeat;
  background-size: cover;
  background-position: center;
 }

.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;;
}

.sub-title span {
  color:#e6941b;
}


.container {
  padding: 90px;
}

.songs-list {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.songs-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #e6941b,
  1px 1px 40px #161111
}

.songs-list div i {
  font-size: 50px;
  margin-bottom: 30px;

}

.songs-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.songs-list div a {
  text-decoration: none;
  color:#161111;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.read {
  display: inline-block;
  padding: 12px 28px;
  background: #e6941b;
  border-radius: 40px;
  font-size: 16px;
  color:#161111;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 25px #161111;
}

.read:hover {
  box-shadow: 0 0 5px #161111, 0 0 25px #e6941b, 0 0 50px #161111,
    0 0 100px #e6941b, 0 0 200px #161111;
}

.songs-list div:hover{
  transform: translateY(-10px);
}





.contact{
  
  background: url(background_home2.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  }

.contact-text h2{
  font-size: 50px;
  line-height: 1;
  text-align: center;
}

.contact-text h2 span {
  color:#e6941b;
}

.contact-text h4{
  margin: 15px 0;
  color:#161111;
  font-size: 20px;
  font-weight: 600;;
}

.contact-text p{
  color:#161111;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}

.contact-list{
  margin-bottom: 3rem;
}

.contact-list li{
  margin-bottom: 10px;
  display: block;
}

.contact-list li{
  margin-bottom: 10px;
  display: block;
}

.contact-list i {
  display: inline-block;
  color:#e6941b;
  font-size: 20px;
  font-weight: 600;
  transition: all .40s ease;
}

.content-list li a:hover{
  transform: scale(1.01)translateY(-5px);
  color:#e6941b;
}

.content-icons i{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #161111;
  border-radius: 50%;
  font-size: 20px;
  color:#161111;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: .5s ease;
  opacity: 0;
  animation: sideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}


.contact-icons i:hover{
  background: #e6941b;
  color:#161111;
  box-shadow: 0 0 20px #161111;
}



.last-text p{
  width: 100;
  text-align: center;
  padding: 18px;
  background-color:rgb(121, 184, 236);
  font-weight: 300;
  padding: 10px;
  
}

.top{
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}

.top i {
  color:#161111;
  background: #e6941b;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}













@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
  
}

@media (max-width: 768px) {

  nav {
    flex-wrap: wrap;
  }

  .hamburger {
    display: flex;
    flex-wrap: wrap;
  }

  .logo {
    height: 80px;
   
  }



  .nav-links {
    display: none;
    flex-basis: 100%;
    flex-wrap: wrap;

  }

  .nav-links li {
    flex-basis: 100%;
  }

  .nav-links a {
    text-align: center;
    font-size: 28px;
  }

  .nav-links a:hover {
    background-color: #e6941b;
    }

  .nav-links .nav-cta-button {
    padding: 30px 16px;
    margin-left: 0;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
  }

   .nav-links .nav-cta-button:hover {
    background-color: #e6941b;
   }

}